{% extends "base.html" %}

{% block content %}

<div class="row my-3 justify-content-center">
    <div class="col-md-8">
        <div class="row">
            <span class="my-3 mt-4 mr-auto">
                <h4>修改影视种子条目</h4>
            </span>
        </div>

        <div id="msg" class="alert alert-danger" role="alert">
            <h5 class="alert-heading">注意!</h4>
                <span> {{ msg }}</span>
        </div>

        <form method="post">
            <div class="form-group mb-3">
                {{form.mbRootDir.label(class='form-label')}}
                {{ form.mbRootDir(class="form-control") }}
            </div>
            <div class="form-group mb-3">
                {{form.tmdbcatid.label(class='form-label')}}
                {{ form.tmdbcatid(class="form-control") }}
            </div>

            <button id='mediaedit' class="btn btn-primary" type="button">
                <span id="busy" role="status" aria-hidden="true"></span>
                修正
            </button>

        </form>
    </div>
</div>
{% endblock %}

{% block script %}
<script>
    $("#mediaedit").click(function () {
        $("#busy").addClass("spinner-border spinner-border-sm")
        $('#mediaedit').prop('disabled', true);
        var sites = 'pterclub';
        var dict = { id: "{{mid}}", tmdbcatid: $("#tmdbcatid").val(), mbRootDir: $("#mbRootDir").val() };
        $.ajax({
            url: '/api/mediaedit',
            method: 'POST',
            data: JSON.stringify(dict),
            contentType: "application/json",
            success: function (response) {
                t = JSON.parse(response)
                if (t.moved) {
                    $('#msg').removeClass('alert-danger')
                    $('#msg').addClass('alert-success')
                }
                $('#msg span').text(t.msg);
            },
            complete: function (xhr, textStatus) {
                $('#mediaedit').prop('disabled', false);
                $("#busy").removeClass("spinner-border spinner-border-sm");
            }
        });
    });
</script>

{% endblock %}