{% extends "base.html" %}
{% block stylesheet %}
<style>

</style>
{% endblock %}
{% block content %}

<div class="row my-3 justify-content-center">
    <div class="col-md-8">
        <div class="row">
            <span class="my-3 mt-4 mr-auto">
                <h4>搜索种子</h4>
            </span>
        </div>
        <div id="sitelist" class="col my-3" role="group" aria-label="站点选择">

            {% for x in sites %}
            <input type="checkbox" class="btn-check" {% if x.lastSearchCheck %} checked {%endif%} id="{{ x.site }}"
                autocomplete="off">
            <label class="btn btn-outline-primary btn-sm" for="{{ x.site }}">{{ x.site }}</label>
            {% endfor %}
        </div>
        <input class="form-control" list="searchword" id="searchStr" placeholder="搜索标题，IMDb...">
        <datalist id="searchword">
            {% for x in wordlist %}
            <option value="{{x}}">
                {% endfor %}
        </datalist>
        <div class="d-flex p-2  my-2 align-items-center">
            <div id="busy" class="mx-1" role="status" aria-hidden="true"></div>
            <label id='sitesearching'></label>
        </div>


    </div>

</div>


<div class="row mx-2 my-3 justify-content-center">
    <table id="data" class="display order-column" style="width:100%">
        <thead>
            <tr>
                <th>站</th>
                <th>标题</th>
                <th>IMDb</th>
                <th>Size</th>
                <th>S/L</th>
                <th>Date</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{% endblock %}


{% block script %}
<script>

    $("#searchStr").on('input', function () {
        var val = this.value;
        if ($('#searchword option').filter(function () {
            return this.value.toUpperCase() === val.toUpperCase();
        }).length) {
            //send ajax request
            $('#data').DataTable().search('');
            $('#data').DataTable().columns(1).search($(this).val()).draw();
        }
    });

    $('#searchStr').on('keyup', function (e) {
        if (e.key === 'Enter') {
            searchTagedSites()
        }
        else if (e.key == "Escape") {
            $('#searchStr').val('')
            $('#data').DataTable().search('').draw();
            // $('#data').DataTable().columns(1).search($(this).val()).draw();
        }
    });

    function apiSaveSearch(sitelist, searchword) {
        var dict = { sitelist: sitelist, searchword: searchword };
        $.ajax({
            url: '/api/savesearch',
            method: 'POST',
            data: JSON.stringify(dict),
            contentType: "application/json",
            success: function (response) {
                ;
            }
        });
    }

    function apiPtSearch(siteele, searchword) {
        sitestr = siteele.attr('id')
        // console.log("searching: " + sitestr)
        var dict = { site: sitestr, searchword: searchword };
        $.ajax({
            url: '/api/ptsearch',
            method: 'POST',
            data: JSON.stringify(dict),
            contentType: "application/json",
            success: function (response) {
                t = JSON.parse(response)
                console.log("get response: " + t.site, t.resultCount)
                if (t.resultCount > 0) {
                    $('label[for=' + t.site + ']').html(t.site + ' <span class="badge bg-secondary">' + t.resultCount + '</span>')
                }

                $('#data').DataTable().ajax.reload();
                var s = $('#sitesearching').text();
                s = s.replace(t.site, '');
                $('#sitesearching').text(s);
                if (!s.trim()) {
                    // location.reload();
                    $("#busy").removeClass("spinner-border spinner-border-sm");
                }
            },
            complete: function (xhr, textStatus) {
            }
        });

    }
    function searchTagedSites() {
        var searchword = $('#searchStr').val();
        var siteliststr = '';

        var sitelist = [];
        $('#sitelist').children('input').each(function () {
            if ($(this).is(':checked')) {
                sitelist.push($(this).attr("id"))
                siteliststr += $(this).attr("id") + ' ';
                apiPtSearch($(this), searchword);
                if (!$("#busy").hasClass("spinner-border spinner-border-sm")) {
                    $("#busy").addClass("spinner-border spinner-border-sm");
                }
            }
        });
        $('#sitesearching').text(siteliststr);
        apiSaveSearch(sitelist, searchword)
        exists = $("#searchword option[value='" + searchword + "']").length > 0;
        if (!exists) {
            $('#searchword').append($('<option>', {
                value: searchword,
                text: searchword
            }));
        }
        $('#data').DataTable().search('');
        $('#data').DataTable().columns(1).search(searchword).draw();
    }
    function downloadClick(ele, id) {
        $(ele).parent().css('background-color', 'rgb(254 243 199)');
        apiDownloadTorCache(ele, id);
    }
    function apiDownloadTorCache(ele, id) {
        $.ajax({
            url: '/api/dlsearchresult',
            type: 'get',
            data: { searchid: id },
            contentType: "application/json",
            success: function (response) {
                t = JSON.parse(response);
                if (t.added) {
                    $(ele).parent().css('background-color', 'darkseagreen');
                    // $("#msg").hide();
                }
                else{
                    $(ele).parent().css('background-color', 'lightpink');
                }
            },
            complete: function (xhr, textStatus) {
                if (xhr.status == 402) {
                    $("#msg").val('下载好像失败了');
                }
            }
        });
    }        
</script>

<script>
    $(document).ready(function () {
        $('#data').DataTable({
            language: DATATABLE_LANG,
            "pageLength": 50,
            autoWidth: true,
            scrollX: false,
            full_row_select: false,
            ajax: '/api/searchresult',
            serverSide: true,
            order: [[5, 'desc']],
            columns: [
                {
                    data: 'site',
                    "width": "4%",
                    "render": function (data, type, row, meta) {
                        if (data) {
                            var l1 = '<img  alt="'+row.site+'" src="/static/icon_cache/'+row.site+'.ico" width="22" height="22">'
                            return l1
                        }
                    }
                },
                {
                    data: 'tortitle',
                    "width": "50%",
                    "render": function (data, type, row, meta) {
                        if (data) {
                            var l1 = '<a class="tortitle" href="' + row.infolink + '" target="_blank">' + row.tortitle + '</a>';
                            var l2 = '<span class="sub-title">' + row.subtitle + '</span>';
                            var tagzz = row.tagzz ? '<span class="tag-zz ">中字</span>' : '';
                            var taggy = row.taggy ? '<span class="tag-gy ">国语</span>' : '';
                            var tagfree = row.tagfree ? '<span class="tag-free ">Free</span>' : '';
                            var tag2xfree = row.tag2xfree ? '<span class="tag-2xfree ">2xFree</span>' : '';
                            var tag50off = row.tag50off ? '<span class="tag-50off ">50%</span>' : '';
                            return l1 + tagfree + tag2xfree + tag50off + '<br>' + tagzz + taggy + l2;
                        }
                        else return ''
                    }

                },
                {
                    data: 'imdbstr',
                    "width": "10%",
                    "render": function (data, type, row, meta) {
                        if (data) {
                            return '<a href="https://www.imdb.com/title/' + data + '" target="_blank">' + row.imdbstr + '</a>';
                        }
                        else return ''
                    }
                },
                {
                    data: 'torsizeint',
                    searchable: false,
                    "width": "6%",
                    "render": function (data, type, row, meta) {
                        return row.torsizestr
                    }
                },
                {
                    data: 'seednum',
                    "width": "7%",
                    "render": function (data, type, row) {
                        return row.seednum + ' / ' + row.downnum
                    }
                },
                {
                    data: 'tordate',
                    "width": "10%",
                    "render": function (data) {
                        var date = new Date(data);
                        return date.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");
                    }
                },
                {
                    data: 'id', orderable: false, searchable: false,
                    "width": "8%",
                    "render": function (data, type, row) {
                        var linkDownload = '<a href="#" onclick="downloadClick(this, \'' + row.id + '\');return false;">' + '下载' + '</a>';
                        var dlcount = (row.dlcount > 0) ? '<sub>'+row.dlcount+'</sub>' : '';
                        return linkDownload + dlcount;
                    },
                },

            ],
        });

    });

</script>
{% endblock %}