{% extends "base.html" %}
{% block stylesheet %}
<style>
    .tortitle {
        word-break: break-all;
        /* color: #000;
    margin: 2px 1px; */
        font-size: 14px;
    }

    .sub-title {
        word-break: break-all;
        margin-top: 2px;
        margin-left: 4px;
        color: #8c8c8c !important;
        font-size: 12px;
    }

    .tag-zz {
        font-size: 9px;
        margin: 0 1px 0 1px;
        border-radius: 2px;
        padding: 1px 3px;
        /* background: #3e6aa0; */
        background: #426ab9;
        color: #fff;
    }

    .tag-gy {
        font-size: 9px;
        margin: 0 1px 0 1px;
        padding: 1px 3px;
        background: #3e93a0;
        color: #ffffff;
    }
</style>
{% endblock %}
{% block content %}

<div class="row my-3 justify-content-center">
    <div class="col-md-8">
        <div class="row">
            <span class="my-3 mt-4 mr-auto">
                <h4>搜索种子</h4>
            </span>
        </div>
        <input class="form-control" list="searchword" id="searchStr" placeholder="搜索标题，IMDb...">
        <datalist id="searchword">
            {% for x in wordlist %}
            <option value="{{x}}">
                {% endfor %}
        </datalist>
        <div class="d-flex p-2  my-2 align-items-center">
            <div id="busy" class="mx-1" role="status" aria-hidden="true"></div>
            <label id='sitesearching'></label>
        </div>


    </div>

</div>


<div class="row mx-2 my-3 justify-content-center">
    <table id="data" class="table table-striped row-border order-column" style="width:100%">
        <thead>
            <tr>
                <th>站点</th>
                <th>标题</th>
                <th>IMDb</th>
                <th>Size</th>
                <th>S/L</th>
                <th>Date</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{% endblock %}


{% block script %}
<script>
    $("#searchStr").on('input', function () {
        var val = this.value;
        if ($('#searchword option').filter(function () {
            return this.value.toUpperCase() === val.toUpperCase();
        }).length) {
            //send ajax request
            $('#data').DataTable().search('');
            $('#data').DataTable().columns(1).search($(this).val()).draw();
        }
    });

    $('#searchStr').on('keypress', function (e) {
        if (e.keyCode === 13) {
            searchAllSites()
        }
    });

    function apiPtSearch(site, searchword) {
        var dict = { site: site, searchword: searchword };
        $.ajax({
            url: '/api/ptsearch',
            method: 'POST',
            data: JSON.stringify(dict),
            contentType: "application/json",
            success: function (response) {
                $('#data').DataTable().ajax.reload();
                var s = $('#sitesearching').text();
                s = s.replace(site, '');
                $('#sitesearching').text(s);
                if (!s.trim()) {
                    // location.reload();
                    $("#busy").removeClass("spinner-border spinner-border-sm");
                }
            },
            complete: function (xhr, textStatus) {
            }
        });

    }
    function searchAllSites() {
        var searchword = $('#searchStr').val();
        var site = '';
        $("#busy").addClass("spinner-border spinner-border-sm");
        // $('#ptsearch').prop('disabled', true);
        $('#data').DataTable().search('');
        $('#data').DataTable().columns(1).search($(this).val()).draw();

        {% for x in sites %}
        site += "{{ x.site }} "
        apiPtSearch("{{ x.site }}", searchword)
        {% endfor %}
        $('#sitesearching').text(site);

        exists = $("#searchword option[value='" + searchword + "']").length > 0;
        if (!exists) {
            $('#searchword').append($('<option>', {
                value: searchword,
                text: searchword
            }));
        }
        // $('#searchword').val(searchword).change();
    }
</script>

<script>

    $(document).ready(function () {
        $('#data').DataTable({
            language: DATATABLE_LANG,
            "pageLength": 25,
            autoWidth: true,
            scrollX: true,
            full_row_select: false,
            ajax: '/api/searchresult',
            serverSide: true,
            order: [[5, 'desc']],
            columns: [
                {
                    data: 'site',
                    "width": "7%",
                },
                {
                    data: 'tortitle',
                    "width": "60%",
                    "render": function (data, type, row, meta) {
                        if (data) {
                            var l1 = '<a class="tortitle" href="' + row.infolink + '" target="_blank">' + row.tortitle + '</a>';
                            var l2 = '<span class="sub-title">' + row.subtitle + '</span>';
                            var tagzz = row.tagzz ? '<span class="tag-zz ">中字</span>' : '';
                            var taggy = row.taggy ? '<span class="tag-gy ">国语</span>' : '';
                            return l1 + '<br>' + tagzz + taggy + l2;
                        }
                        else return ''
                    }

                },
                {
                    data: 'imdbstr',
                    "width": "10%",
                    // "render": function (data, type, row, meta) {
                    //     if (data) {
                    //         return '<a href="https://www.imdb.com/title/' + data + '" target="_blank">' + row.imdbval + '</a>';
                    //     }
                    //     else return ''
                    // }
                },
                {
                    data: 'torsizestr',
                    "width": "6%"
                },
                {
                    data: 'seednum',
                    "width": "7%",
                    "render": function (data, type, row) {
                        return row.seednum + ' / ' + row.downnum
                    }
                },
                {
                    data: 'tordate',
                    "width": "10%",
                    "render": function (data) {
                        var date = new Date(data);
                        return date.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");
                    }
                },
                {
                    data: 'id', searchable: false,
                    "width": "10%",
                    "render": function (data, type, row) {
                        var linkDownload = '<a href="/dlresult/' + row.id + '">' + '下载' + '</a>';
                        return linkDownload;
                    },
                },

            ],
        });

    });

</script>
{% endblock %}