{% extends "base.html" %}
{% block stylesheet %}
<style>
.sub-title {
    word-break: break-all;
    margin-top: 2px;
    margin-left: 4px;
    color: #8c8c8c!important;
    font-size: 9px;
}
 .tag-zz {
    font-size: 9px;
    margin: 0 1px 0 1px;
    border-radius: 2px;
    padding: 1px 3px;
    /* background: #3e6aa0; */
    background: #426ab9;
    color: #fff;
 }
 .tag-gy {
    font-size: 9px;
    margin: 0 1px 0 1px;
    padding: 1px 3px;
    background: #3e93a0;
    color: #ffffff;
 }
</style>
{% endblock %}
{% block content %}

<div class="row my-3 justify-content-center">
    <div class="col-md-8">
        <div class="row">
            <span class="my-3 mt-4 mr-auto" ><h4>搜索种子</h4></span>  
        </div>
        <form method="post">
            <div class="form-group mb-3">
                {{ form.searchStr.label(class='form-label')}} 
                {{ form.searchStr(class="form-control") }}
            </div>

            <!-- {{form.submit(class='btn btn-primary')}} -->
            <button id='ptsearch' type='button' class='btn btn-default' >搜索</button>
        </form>
    </div>

</div>


<div class="row mx-2 my-3 justify-content-center">
    <table id="data" class="table table-striped row-border order-column" style="width:100%">
		<thead>
		  <tr>
			<th>站点</th>
			<th>标题</th>
			<th>IMDb</th>
			<th>Size</th>
			<th>S/L</th>
			<th>Date</th>
            <th>操作</th>
		  </tr>
		</thead>
		<tbody>
  
		</tbody>
	  </table>
</div>

{% endblock %}



{% block script %}
<script>
$("#ptsearch").click(function(){
        var searchword = $('#searchStr').val();
        var sites = 'pterclub';
        var dict = {searchword:searchword,sites:sites};
        $.ajax({            
            url:'/api/ptsearch',
            method: 'POST',
            data : JSON.stringify(dict),
            contentType: "application/json",
            success:function(response){
                // var table=('#tableid').Datatable();
                // table.ajax.reload();
                $('#data').DataTable().ajax.reload();
            }
        });
    });
</script>
    
<script>

    $(document).ready(function () {
        $('#data').DataTable({
            language: {
                "info": "第 _START_ - _END_ 条 / 总 _TOTAL_ 条",
                "lengthMenu": "每页显示  _MENU_ 条",
                "search": "查找: ",
                "zeroRecords": "现在这里空空的",
                "infoEmpty": "没什么可说的",
                "paginate": {
                    'first': '首页',
                    'previous': '前页',
                    'next': '后页',
                    'last': '最末页'
                }
            },
            "pageLength": 25,
            autoWidth: true,
            scrollX: true,
            full_row_select: false,
            ajax: '/api/searchresult',
            serverSide: true,
            order: [[5, 'desc']],
            columns: [
                {
                    data: 'site',
                    "width": "7%",
                },
                {
                    data: 'tortitle',
                    "width": "60%",
                    "render": function (data, type, row, meta) {
                        if (data) {
                            var l1 = '<a href="' + row.infolink + '" target="_blank">' + row.tortitle + '</a>';
                            var l2 = '<span class="sub-title">'+row.subtitle+'</span>';
                            var tagzz = row.tagzz ? '<span class="tag-zz ">中字</span>' : '' ;
                            var taggy = row.taggy ? '<span class="tag-gy ">国语</span>' : '' ;
                            return l1 + '<br>' + tagzz + taggy + l2;
                        }
                        else return ''
                    }

                },
                {
                    data: 'imdbstr',
                    "width": "10%",
                    // "render": function (data, type, row, meta) {
                    //     if (data) {
                    //         return '<a href="https://www.imdb.com/title/' + data + '" target="_blank">' + row.imdbval + '</a>';
                    //     }
                    //     else return ''
                    // }
                },
                {
                    data: 'torsizestr',
                    "width": "6%"
                },
                {
                    data: 'seednum',
                    "width": "7%",
                    "render": function (data, type, row) {
                        return row.seednum +' / ' + row.downnum
                    }
                },
                {
                    data: 'tordate',
                    "width": "10%",
                    "render": function (data) {
                        var date = new Date(data);
                        return date.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");
                    }
                },
                {
                    data: 'id', searchable: false,
                    "width": "8%",
                    "render": function (data, type, row) {
                        var linkDownload = '<a href="/dlresult/' + row.id + '">' + '下载' + '</a>';
                        return linkDownload;
                    },
                },

            ],
        });

    });
  
  </script>
{% endblock %}    