{% extends "base.html" %}
{% block stylesheet %}
<style>
    .alert {
        width: 40%;
    }
</style>
{% endblock %}
{% block content %}
<nav class="nav nav-tabs justify-content-center">
	<a class="nav-link " href="/sitesnewlist">各站新种</a>
	<a class="nav-link " href="/sitesnewgroup">站新分组</a>
	<a class="nav-link active" href="/sites">站点设置</a>
</nav>


<div class="row my-3 justify-content-center">
    <div class="col-10">
        <div class="row">
            <span class="my-3 mt-4 mr-auto">
                <h4>配置 PT 站点</h4>
            </span>
        </div>
        <form class="row form-horizontal" method="post">
            <div class="input-group mb-3">
                <div class="col-sm-2">
                    <label class="visually-hidden" for="site">选择站点</label>
                    <select class="form-select" id="site">
                        <option selected>选择站点</option>
                        {% for s in form.site.choices %}
                        <option value="{{ s[0] }}">{{ s[1] }}</option>
                        {% endfor %}
                    </select>
                </div>

                <input id="cookie" type="text" class="form-control col-sm-5" placeholder="设置 Cookie"
                    aria-label="设置 Cookie" aria-describedby="button-addon2">
                <input id="newtorlink" type="text" class="form-control col-sm-5" placeholder="设置 站新链接"
                aria-label="设置 站新链接" aria-describedby="button-addon2">
                <button id='savecookie' class="btn btn-primary" type="button">
                    <span id="busy" role="status" aria-hidden="true"></span>
                    保存
                </button>

            </div>
        </form>
    </div>

</div>


<div class="row mx-2 my-3 justify-content-center">
    <table id="data" class="display order-column" style="width:100%">
        <thead>
            <tr>
                <th>最后更新</th>
                <th>站点</th>
                <th>新种数量</th>
                <th>站点状态</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{% endblock %}


{% block script %}
<script>
    $('#savecookie').click(function () {
        $("#busy").addClass("spinner-border spinner-border-sm")
        $('#savecookie').prop('disabled', true);

        var dict = { site: $('#site').val(), cookie: $('#cookie').val(), newtorlink: $('#newtorlink').val() };
        $.ajax({
            url: '/api/sitesetting',
            type: 'post',
            // data : dict,
            data: JSON.stringify(dict),
            contentType: "application/json",
            // dataType: "json",        
            success: function (response) {
                // t = JSON.parse(response)
                console.log('saved');
                $('#data').DataTable().ajax.reload();
            },
            complete: function (xhr, textStatus) {
                $('#savecookie').prop('disabled', false);
                $("#busy").removeClass("spinner-border spinner-border-sm");
            },
        });

    });

    $('#site').change(function () {
        var dict = { site: $(this).val() };
        // console.log(dict)
        $.ajax({
            url: '/api/sitesetting',
            type: 'get',
            data: { site: $(this).val() },
            // data : JSON.stringify(dict),
            contentType: "application/json",
            // dataType: "json",        
            success: function (response) {
                t = JSON.parse(response)
                $("#cookie").val(t.cookie)
                $("#newtorlink").val(t.newtorlink)
                $("#msg").hide()
            },
            complete: function (xhr, textStatus) {
                // console.log(xhr.status);
                if (xhr.status == 402) {
                    $("#cookie").val('');
                }
            }
        });

    })

    function editClick(id) {
        apiSiteSetting(id, 'edit')
    }
    function deleteClick(id) {
        if (confirm("确认删除？")) {
            apiSiteSetting(id, 'delete');
        }
    }
    function apiSiteSetting(id, op) {
        $.ajax({
            url: '/api/sitesetting',
            type: 'get',
            data: { site: id, op: op },
            contentType: "application/json",
            success: function (response) {
                t = JSON.parse(response);
                $("#msg").hide();
                if (op == 'delete'){
                    $('#data').DataTable().ajax.reload();
                }
                else {
                    $("#site").val(t.site);
                    $("#cookie").val(t.cookie);
                    $('#newtorlink').val(t.newtorlink);
                }
            },
            complete: function (xhr, textStatus) {
                // console.log(xhr.status);
                if (xhr.status == 402) {
                    $("#cookie").val('还没有设置');
                }
            }
        });
    }
    function apiGetSiteTorrent(ele, siteid) {
        $(ele).parent().parent().css('background-color', 'rgb(254 243 199)');
        $.ajax({
            url: '/api/getsitetorrent',
            type: 'get',
            data: { site: siteid },
            contentType: "application/json",
            success: function (response) {
                t = JSON.parse(response);
                $('#data').DataTable().ajax.reload();
            },
            complete: function (xhr, textStatus) {
                // console.log(xhr.status);
                $(ele).parent().parent().css('background-color', 'darkseagreen');
            }
        });
    }
    $(document).ready(function () {
        $('#site').change();
        $("#msg").hide()

        $('#data').DataTable({
            language: DATATABLE_LANG,
            "pageLength": 50,
            "dom": "tip",
            autoWidth: true,
            scrollX: false,
            full_row_select: false,
            ajax: '/api/sitelistdata',
            serverSide: true,
            order: [[0, 'desc']],
            columns: [
                {
                    data: 'last_update',
                    "width": "15%",
                    "render": function (data) {
                        var date = new Date(data);
                        return date.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");
                    }
                },
                {
                    data: 'site',
                    "width": "30%"
                },
                {
                    data: 'newTorCount',
                    "width": "10%"
                },
                {
                    data: 'lastNewStatus',
                    "width": "5%"
                },
                {
                    data: 'id', searchable: false,
                    "width": "18%",
                    "render": function (data, type, row) {
                        // var linkDelete = '<a href="/sitedel/' + row.id + '">删除</a>';
                        var linkDelete = '<a href="#" onclick="deleteClick(\'' + row.site + '\');return false;">' + '删除' + '</a>';
                        var linkEdit = '<a href="#" onclick="editClick(\'' + row.site + '\');return false;">' + '编辑' + '</a>';
                        var linkRunOnce = '<a href="#" onclick="apiGetSiteTorrent(this, \'' + row.id + '\');return false;">' + '站新' + '</a>';
                        return linkEdit + " | " + linkDelete + " | " + linkRunOnce;
                    },
                },
            ],
            drawCallback: function (settings) {
                var pagination = $(this).closest('.dataTables_wrapper').find('.dataTables_paginate');
                pagination.toggle(this.api().page.info().pages > 1);
            }
        });
    });
</script>
{% endblock %}