{% extends "base.html" %}

{% block content %}
<nav class="nav nav-tabs justify-content-center">
	<a class="nav-link active" href="{{ url_for('rssLog') }}">RSS记录</a>
	<a class="nav-link " href="{{ url_for('rssTaskList') }}">RSS 任务列表</a>
</nav>

<div class="row mx-2 my-3 justify-content-center">

  <table id="data" class="table row-border order-column" style="width:100%">
		<thead>
		  <tr>
			<th>时间</th>
			<th>站点</th>
			<th>标题</th>
			<th>IMDb</th>
			<th>Size</th>
			<th>未收原因</th>
      <th>操作</th>
		  </tr>
		</thead>
		<tbody>
  
		</tbody>
	  </table>
</div>
{% endblock %} 

{% block script %}
<script>

  $(document).ready(function () {
    $('#data').DataTable({
      language: {
        "info": "第 _START_ - _END_ 条 / 总 _TOTAL_ 条",
        "lengthMenu": "每页显示  _MENU_ 条",
        "search": "查找: ",
        "zeroRecords": "现在这里空空的",
        "infoEmpty": "没什么可说的",
        "paginate": {
          'first': '首页',
          'previous': '前页',
          'next': '后页',
          'last': '最末页'
        }
      },
      "pageLength": 25,
      autoWidth: false,
      scrollX: true,
      full_row_select: false,
      ajax: '/api/rsslogdata',
      serverSide: true,
      order: [[0, 'desc']],
      columns: [
        {
          data: 'addedon',
          "width": "12%",
          "render": function (data) {
            // https://stackoverflow.com/questions/8362952/javascript-output-current-datetime-in-yyyy-mm-dd-hhmsec-format
            var date = new Date(data);
            return date.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");
          }
        },
        {
          data: 'site',
          "width": "10%"
        },
        {
          data: 'title',
          "width": "50%",
          "render": function ( data, type, row, meta ) {
              if (data) {
                return '<a href="'+row.infoLink+'" target="_blank">'+row.title+'</a>';
              }
              else return ''
            }

        },
        {
          data: 'imdbstr',
          "width": "6%"
        },
        {
          data: 'size',
          "width": "10%"
        },
        {
          data: 'reason',
          "width": "15%"
        },
        { data: 'id', searchable: false, 
          "width": "10%",
          "render": function (data, type, row) {
            var linkStart = ([0,2].includes(row.accept)) ? '<a href="/rssmanual/' + row.id + '">下载</a>' : ''
            return linkStart;
          },
        },

      ],
      "createdRow": function (row, data, dataIndex) {
        if (data.accept == 2) {
          $('td', row).css('background-color', 'rgb(219 234 254)');
        }
        else if  (data.accept == 3) {
          $('td', row).css('background-color', 'rgb(231 229 228)');
        }
      }

    });
  
  });

</script>
{% endblock %}