{% extends "base.html" %}
{% block stylesheet %}
<!-- https://datatables.net/forums/discussion/32210/can-i-move-the-search-box-to-the-left -->
<style>
.dataTables_filter {
   float: left !important;
}
/* https://stackoverflow.com/questions/61514711/trying-to-remove-cell-border-on-a-data-table-but-the-tag-cell-border-is-not-w */
/* #data {
  border: none;
}
#data th {
  border-bottom: none;
  border-top: none;
}
#data td {
  border: none;
} */
</style>
{% endblock %}
{% block content %}

<nav class="nav nav-tabs justify-content-center">
    <a class="nav-link active" href="/sitesnewlist">各站新种</a>
    <a class="nav-link" href="/sitesnewgroup">站新分组</a>
    <a class="nav-link " href="/sites">站点设置</a>
</nav>

<div class="row my-3 justify-content-center">
    <div class="col-md-2">
        <select id="siteselect" class="form-select form-select-sm">
            <option selected>选择站点...</option>
            {% for x in sitelist %}
            <option>{{ x.site }}</option>
            {% endfor %}
        </select>
    </div>
    <div class="col-md-4">
        <div id="mediasrclist" class="btn-group btn-group-sm " role="group"
            aria-label="Basic checkbox toggle button group">
            {% for m in mediasource %}
            <input type="checkbox" class="btn-check" id="{{m}}" autocomplete="off">
            <label class="btn btn-outline-primary" for="{{m}}">{{m}}</label>
            {% endfor %}
        </div>
    </div>
</div>
<div class="row my-3 justify-content-center">
    <table id="data" class="  order-column" style="width:100%">
        <thead>
            <tr>
                <th>站点</th>
                <th>来源</th>
                <th>标题</th>
                <th>TMDb标题</th>
                <th>IMDb</th>
                <th>Size</th>
                <th>S/L</th>
                <th>发布日期</th>
                <th>种子日期</th>
                <th>操作</th>
            </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>

{% endblock %}


{% block script %}

<script>
    $('#siteselect').on('change', function () {
        $('#data').DataTable().search('');
        $('#data').DataTable().columns(0).search(this.value).draw();
    });

    // $('#mediasrclist').on('change', function() {
    //     $('#data').DataTable().search('');
    //     $('#data').DataTable().columns(1).search(this.value).draw();
    // });

    $('#mediasrclist input').on("click", function () {
        setMediaSourceFilter(this)
    });
    function setMediaSourceFilter(ele) {
        let medialist = '';
        $('#mediasrclist').children('input').each(function () {
            if ($(this).is(':checked')) {
                medialist += $(this).attr("id") + ' ';
            }
        });
        $('#data').DataTable().search('');
        $('#data').DataTable().columns(1).search(medialist).draw();
    }

    function downloadClick(ele, id) {
        $(ele).parent().css('background-color', 'rgb(254 243 199)');
        apiDownloadSiteTor(ele, id);
    }
    function apiDownloadSiteTor(ele, id) {
        $.ajax({
            url: '/api/sitetordl',
            type: 'get',
            data: { torid: id },
            contentType: "application/json",
            success: function (response) {
                t = JSON.parse(response);
                if (t.added) {
                    $(ele).parent().css('background-color', 'darkseagreen');
                    // $("#msg").hide();
                }
                else {
                    $(ele).parent().css('background-color', 'lightpink');
                }
            },
            complete: function (xhr, textStatus) {
                if (xhr.status == 402) {
                    $("#msg").val('下载好像失败了');
                }
            }
        });
    }
    $(document).ready(function () {
        var groupColumn = 2;
        var table = $('#data').DataTable({
            language: DATATABLE_LANG,
            "pageLength": 50,
            autoWidth: true,
            scrollX: false,
            full_row_select: false,
            stateSave: false,
            ajax: '/api/sitetorrentlist',
            // https://stackoverflow.com/questions/60421414/datatables-dom-positioning-bootstrap
            // https://datatables.net/forums/discussion/32210/can-i-move-the-search-box-to-the-left
            "dom":'<"row"<"col-sm-6"f><"col-sm-6"p>>tr<"bottom"<"row"<"col-sm-6"i><"col-sm-6"p>>><"clear">',
            serverSide: true,
            order: [[7, 'desc']],
            columns: [
                {
                    data: 'site',
                    "width": "7%",
                },
                {
                    data: 'mediasource',
                    visible: false,
                },
                {
                    data: 'tortitle',
                    "width": "45%",
                    "render": function (data, type, row, meta) {
                        if (data) {
                            var l1 = '<a class="tortitle" href="' + row.infolink + '" target="_blank">' + row.tortitle + '</a>';
                            var l2 = '<span class="sub-title">' + row.subtitle + '</span>';
                            var tagzz = row.tagzz ? '<span class="tag-zz ">中字</span>' : '';
                            var taggy = row.taggy ? '<span class="tag-gy ">国语</span>' : '';
                            var tagfree = row.tagfree ? '<span class="tag-free ">Free</span>' : '';
                            var tag2xfree = row.tag2xfree ? '<span class="tag-2xfree ">2xFree</span>' : '';
                            var tag50off = row.tag50off ? '<span class="tag-50off ">50%</span>' : '';
                            return l1 + tagfree + tag2xfree + tag50off + '<br>' + tagzz + taggy + l2;
                        }
                        else return ''
                    }

                },
                {
                    data: 'tmdbtitle',
                    visible: false,
                    "width": "10%",
                },
                {
                    data: 'imdbstr',
                    "width": "8%",
                    "render": function (data, type, row, meta) {
                        if (data) {
                            s1 = '<a href="https://www.imdb.com/title/' + data + '" target="_blank">' + row.imdbstr + '</a>';
                            s2 = '<br><label class="sub-title">' + row.genrestr + '</label>';
                            return s1 + s2
                        }
                        else return ''
                    }
                },
                {
                    data: 'torsizestr',
                    orderable: false, searchable: false,
                    "width": "6%"
                },
                {
                    data: 'seednum',
                    "width": "6%",
                    "render": function (data, type, row) {
                        return row.seednum + ' / ' + row.downnum
                    }
                },
                {
                    data: 'tordate',
                    "width": "9%",
                    "render": function (data) {
                        var date = new Date(data);
                        return date.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");
                    }
                },
                {
                    data: 'addedon',
                    visible: false,
                    "width": "9%",
                    "render": function (data) {
                        var date = new Date(data);
                        return date.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");
                    }
                },
                {
                    data: 'id', orderable: false, searchable: false,
                    "width": "8%",
                    "render": function (data, type, row) {
                        var linkDownload = '<a href="#" onclick="downloadClick(this, \'' + row.id + '\');return false;">' + '下载' + '</a>';
                        var dlcount = (row.dlcount > 0) ? '<sub>' + row.dlcount + '</sub>' : '';
                        return linkDownload + dlcount;
                    },
                },

            ],
            "createdRow": function (row, data, dataIndex) {
                if (data.exists) {
                    $('td', row).css('background-color', 'rgb(228 228 231)');
                }
            }

        });
        // table.search('').columns().search('').draw();
    });

</script>
{% endblock %}