{% extends "base.html" %}
{% block stylesheet %}
<style>

        table {
            table-layout: fixed;
        }

        td {
            overflow: hidden;
            text-overflow: ellipsis;
        }
</style>
{% endblock %}

{% block content %}
<div class="table-responsive my-2 mx-1">

  <table id="data" class="display table-striped order-column" style="width:100%">
    <thead>
      <tr>
        <th></th>
        <th>源站种子</th>
        <th>媒体库路径</th>
        <th>TMDb</th>
        <th>IMDb</th>
        <th>添加于</th>
        <th>操作</th>
      </tr>
    </thead>
    <tbody>
    </tbody>
  </table>

</div>

{% endblock %}

{% block script %}
<script>
  function deleTorMedia(ele, id) {
    if (confirm("确认删除？")) {
      $.ajax({
        url: '/api/mediadel',
        type: 'get',
        data: { torid: id },
        contentType: "application/json",
        success: function (response) {
          t = JSON.parse(response);
          $('#data').DataTable().ajax.reload();
          if (!t.deleted) {
            ; //alert(t.msg)
          }
        },
      });
    }
  }
  $(document).ready(function () {
    var table = $('#data').DataTable({
      language: DATATABLE_LANG,
      ajax: '/api/mediadblist',
      // "dom": `<'row'<'col-md-6'i><'col-md-6'f>>
      //       <'row'<'col-sm-12'tr>>
      //       <'row'<'col-md-5'l><'col-sm-12 col-md-7'p>>`,
      "dom":'<"row"<"col-sm-6"i><"col-sm-6"f>>tr<"bottom"<"row"<"col-sm-6"i><"col-sm-6"p>>><"clear">',

      "pageLength": 50,
      autoWidth: false,
      scrollX: false,
      full_row_select: false,
      serverSide: true,
      order: [[5, 'desc']],
      columns: [
        {
          data: 'tmdbcat',
          "width": "5%",
          "render": function (data, type, row, meta) {
            console.log(row.tmdbposter);
            if (row.tmdbposter) {
              var s = row.tmdbcat + '/' + row.tmdbid;
              return '<a class="preview" title='+row.tmdbtitle+' href="https://image.tmdb.org/t/p/w200' + row.tmdbposter + '" target="_blank"><img src="https://image.tmdb.org/t/p/w45' + row.tmdbposter + '"></a>';
            }
            else return ''
          }

        },
        {
          data: 'torname',
          "width": "35%",
          "render": function (data, type, row, meta) {
            if (data) {
              return '<a href="' + row.torsite + '" target="_blank">' + row.torname + '</a>';
            }
            else return ''
          }
        },
        {
          data: 'location',
          "width": "23%"
        },
        {
          data: 'tmdbid', orderable: false,
          "width": "15%",
          "render": function (data, type, row, meta) {
            if (row.tmdbid > 0) {
              var s = row.tmdbcat + '/' + row.tmdbid;
              var s2 = (row.title) ? row.title : s
              return '<a href="https://www.themoviedb.org/' + s + '" target="_blank">' + s2 + '</a>';
            }
            else return row.title
          }
        },
        {
          data: 'torimdb', orderable: false,
          "width": "8%",
          "render": function (data, type, row, meta) {
            if (data) {
              return '<a href="https://www.imdb.com/title/' + data + '" target="_blank">' + data + '</a>';
            }
            else return ''
          }
        },
        {
          data: 'addedon',
          "width": "8%",
          "render": function (data) {
            var date = new Date(data);
            return date.toISOString().slice(0, 19).replace(/-/g, "/").replace("T", " ");
          }
        },
        {
          "width": "9%",
          "render": function (data, type, row) {
            // var linkDelete = '<a href="/mediadel/' + row.id + '">删除</a>';
            var linkDelete = '<a href="#" onclick="deleTorMedia(this, \'' + row.id + '\');return false;">' + '删除' + '</a>';
            var linkEdit = '<a href="/mediaedit/' + row.id + '">' + '修正' + '</a>';
            return linkEdit + " | " + linkDelete;
          },
        }

      ],
    });

  });
  var xOffset = 10;
    var yOffset = 30;

    $("body").on("mouseover", ".preview", function (e) {
        var c = ""; // this.title;
        $("body").append("<p id='preview'><img src='" + this.href + "' alt='Image preview' />" + c + "</p>");
        $("#preview")
            .css("top", (e.pageY - xOffset) + "px")
            .css("left", (e.pageX + yOffset) + "px")
            .fadeIn("fast");
    });
    $("body").on("mouseout", ".preview", function () {
        $('#preview').remove();
    });
</script>
{% endblock %}